@keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 4s linear infinite; /* Adjust the duration as per your preference */
  }
  .stroke-text {
    -webkit-text-fill-color: transparent; /* Hide the text color */
    -webkit-text-stroke-width: 0.1px; /* Set the stroke width */
    -webkit-text-stroke-color: #9c9c9c; /* Set the stroke color */
  }
  .stroke-textm {
    -webkit-text-fill-color: transparent; /* Hide the text color */
    -webkit-text-stroke-width: 0.5px; /* Set the stroke width */
    -webkit-text-stroke-color: #d4d4d4; /* Set the stroke color */
  }